.bg-custom-dark {
    background-color: #114A43;
    /* Dark teal */
}

.bg-custom-darker {
    background-color: #0A3C36;
    /* Darker shade of dark teal */
}

.text-accent {
    color: #D8E28C;
    /* Light greenish-yellow */
}

.border-accent {
    border-color: #D8E28C;
    /* Light greenish-yellow */
}

.hover-accent:hover {
    background-color: #3B8D7A;
    /* Slightly lighter shade of dark teal */
}

.bg-accent {
    background-color: #D8E28C;
    /* Light greenish-yellow */
}

/* Enable scrollbar for sidebar */
#sidebar {
    max-height: 100vh;
    overflow-y: auto;
    /* Enable scrolling when content overflows */
}

/* Custom scrollbar for better theme integration */
#sidebar::-webkit-scrollbar {
    width: 8px;
    /* Make scrollbar thinner */
}

#sidebar::-webkit-scrollbar-track {
    background: #1e293b;
    /* Dark background for the scrollbar track */
}

#sidebar::-webkit-scrollbar-thumb {
    background-color: #7dd3fc;
    /* Light blue color for the scrollbar thumb */
    border-radius: 4px;
    border: 2px solid #1e293b;
    /* Border that matches the sidebar's background */
}

/* Scrollbar for Firefox */
#sidebar {
    scrollbar-width: thin;
    scrollbar-color: #7dd3fc #1e293b;
    /* Light blue thumb and dark track */
}

/* Hide the sidebar by default on mobile */
@media (max-width: 1024px) {
    #sidebar {
        transform: translateX(-100%);
    }

    #sidebar.open {
        transform: translateX(0);
    }
}